@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins';
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,61,126,1) 35%);
}

header {
    display: flex;
    position: fixed; /* Permite aos demais conteúdos transpassarem a div */
    justify-content: space-between;
    padding-left: .5rem;
    color: white;
    top: 0;
    width: 100%;
}

header p {
    font-size: 1rem;
}

.contador-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#visitas {
    font-weight: 600;
    color:#EBB900;
}

.numeros {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
    color: aliceblue;
}

.texto-tempo {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: aliceblue;
}

.imagem-censo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-censo img {
    width: 50%;
}

.descritivo-imagem-censo {
    font-weight: normal;
    font-size: 2rem;
    color: aliceblue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
    background-color: white;
}

/* RESPONSIVIDADE PARA SMARTPHONES */

@media screen and (max-width: 750px) {

    header p {
        font-size: .7rem;
    }

    .imagem-censo img {
        max-width: 50%;
        padding-top: 3rem;
    }

    .numeros {
        font-size: 3rem;
        margin: .5rem .8rem;
    }

    .texto-tempo {
        font-size: .8rem;
    }

    .descritivo-imagem-censo {
        font-size: 1rem;        
    }


  } 